<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <p>Hello, <%= current_user.name %>!</p>
      <%= link_to "Sign out", sign_out_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Sign In", sign_in_path %>
      <%= link_to "Sign Up", sign_up_path %>
    <% end %>

    <% if flash[:notice] %>
    <div class="flash-notice">
        <%= flash[:notice] %>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
